/* Import Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.bg-pry {
  background-color: #202f66;
}
.bg-sec {
  background-color: aliceblue;
}
.bg-dark {
  background-color: #1d1918;
  color: aliceblue;
}
.text-pry {
  color: #202f66;
}
.text-sec {
  color: aliceblue;
}
.text-light {
  color: #495da6;
}
.text-dark {
  color: #1d1918;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  width: 430px;
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem;
}

.header {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

/* Form Area */
.form {
  height: 9rem;
  border: 2px dashed #495da6;
  border-radius: 0.6rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form i {
  font-size: 5rem;
}
.form p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

/* Both Section Areas */
.row {
  background: #dde6fa;
  margin-bottom: 0.5rem;
  list-style: none;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row i {
  font-size: 2rem;
}
.file-details span {
  font-size: 0.8rem;
}

/* Progress Area Section */
.progress-area .file-contents {
  width: 100%;
  margin-left: 1rem;
}
.progress-area .file-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress-area .progress-bar {
  height: 0.3rem;
  width: 100%;
  background: aliceblue;
  margin: 0.2rem 0;
  border-radius: 0.2rem;
}
.progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #202f66;
  border-radius: inherit;
}

/* Upload Area Section  */
.upload-area {
  margin-top: 1.5rem;
  max-height: 11rem;
  overflow-y: scroll;
}
.upload-area::-webkit-scrollbar {
  width: 0;
}
.upload-area .file-contents {
  display: flex;
  align-items: center;
}
.upload-area .file-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.upload-area .fa-square-check {
  color: #202f66;
}
.upload-area .file-size {
  font-size: 0.6rem;
  color: #404040;
}
